#heading {
  color: burlywood;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
  height: 100px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
}

.search-container{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  width: 400px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
.res-card {
  width: 200px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.298);
  background-color: lightgrey;
}
